langchain==0.3.16
langchain_community==0.3.16
langchain_core==0.3.32
langchain_openai==0.3.2
python-dotenv==1.0.1
streamlit==1.32.0
python-dotenv
# faiss-cpu==1.7.4 스트림릿에서 호환이 안되어 제거함
chromadb
unstructured
python-magic
